{% load static %}
{% load i18n %}

<style>
    body {
        background-color: rgb(202, 227, 194);
        font-family: Arial;
        margin: 30px;
    }

    .card {
        margin-top: 15px;
        border: 2px solid #2d5520;
        width: calc(100% - 54px);
        padding: 25px;
        color: #2d5520;
        font-size: 22px;
        border-radius: 5px;
        display: table;
        text-align: center;
        background-color: #cae3c2
    }

    #frontpage-link {
        margin-top: 15px;
        background-color: #2d5520;
        width: calc(100% - 50px);
        padding: 25px;
        color: #cae3c2;
        font-size: 17px;
        border-radius: 5px;
        display: table;
        transition-timing-function: ease-out;
        transition: transform .2s
    }

    .link-icon {
        text-align: right;
    }

    .light {
        color: #7d9e73;
        font-size: 13px;
    }

    a {
        color: #2d5520;
        text-decoration: none;
        border-bottom: 1px solid #2d5520
    }

    .card-value {
        display: block;
        margin-top: 5px;
        font-size: 37px;
        font-weight: 700
    }
</style>

<a href="/">
    <div class="card" id="frontpage-link">
        <div class="report-link-text">
            {% trans "uiBackToFrontpage" %}<br>
            <i class="light">{% trans "uiBackToFrontpageDescription" %}</i>
        </div>
        <div class="link-icon">
            <img src="{%static 'open.svg' %}" />
        </div>
    </div>
</a>

<div class="card">
    <p class="card-value">
        {% trans "uiThankYouForReporting" %}
    </p>
    <p>
        {% blocktrans %}
        You should only report your symptoms once in {{ cooldown_period_hours }} hours.
        You still have {{ cooldown_remaining_hours }} hours until the next reporting period.
        {% endblocktrans %}
    </p>
</div>