{% load static %}
{% load i18n %}

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/d3-geo.v1.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

<style>
    body {
        background-color: rgb(202, 227, 194);
        font-family: Arial;
        margin: 30px;
    }

    path {
        fill: #000;
        stroke: #fff;
        stroke-width: .5px;
    }

    path:hover {
        fill: #fff;
    }

    .card {
        margin-top: 15px;
        border: 2px solid #2d5520;
        width: calc(100% - 54px);
        padding: 25px;
        color: #2d5520;
        font-size: 22px;
        border-radius: 5px;
        display: table;
        text-align: center;
        background-color: #cae3c2
    }

    .card-value {
        display: block;
        margin-top: 5px;
        font-size: 37px;
        font-weight: 700
    }

    #report-link {
        margin-top: 15px;
        background-color: #2d5520;
        width: calc(100% - 50px);
        padding: 25px;
        color: #cae3c2;
        font-size: 17px;
        border-radius: 5px;
        display: table;
        transition-timing-function: ease-out;
        transition: transform .2s
    }

    .link-icon {
        text-align: right;
    }

    table {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        color: #2d5520;
        text-decoration: none;
        border-bottom: 1px solid #2d5520
    }

    .report-link-text {
        display: table-cell;
        width: calc(100% - 35px);
    }

    .light {
        color: #7d9e73;
        font-size: 13px;
    }

    .svg-container {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        vertical-align: middle;
        overflow: hidden;
    }

    .svg-content {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>

<a href="/report/">
    <div class="card" id="report-link">
        <div class="link-icon">
            <img src="{%static 'open.svg' %}" />
        </div>
        <div class="report-link-text">
            <h2>{% trans "uiReportSymptoms" %}</h2><br>
            <i class="light">{% trans "uiReportSymptomsDescription" %}</i>
        </div>
        <div class="link-icon">
            <img src="{%static 'open.svg' %}" />
        </div>
    </div>
</a>

<div class="card" id="total-reports">
    <span class="card-title">{% trans "uiReportsTotal" %}</span><br />
    <span class="card-value" id="reports-in-total-value">{% trans "uiReportsTotalZero" %}</span>
</div>

<div class="card" id="map-container">
    <div id='map' data-report="{{ symptom_report_json }}" data-i18n="{{ translations_json }}"></div>
</div>
</div>

<div class="card" id="selection-statistics">
    <span class="card-title" id="selected-area-name">{% trans "uiReportCountry" %}</span>
    <span class="card-value" id="selected-area-total-reports"></span>
    <div id="selection-statistics-table-container"></div>
</div>

<script>
    var tabulate = function ({ parent, municipality, translations, data }) {
        var table = parent.append("table");
        var thead = table.append("thead");
        var tbody = table.append("tbody");

        document.getElementById('selected-area-name').innerText = municipality;
        document.getElementById('selected-area-total-reports').innerText = data.reports.count;

        // create a row for each object in the data
        var rows = tbody.selectAll("tr")
            .data(Object.keys(data.symptoms))
            .enter()
            .append("tr");

        var cells = rows.selectAll("td")
            .data(function (symptom) {
                return [{ symptom: symptom, count: data.symptoms[symptom], total: data.reports.count }];
            });

        cells.enter()
            .append("td")
            .html("<img src=\"{%static 'bullet.svg' %}\"/>");

        cells.enter()
            .append("td")
            .text(function (d) { return translations[d.symptom]; });

        cells.enter()
            .append("td")
            .text(function (d) { return d.count + " / " + d.total; });

        return table;
    }

    var renderMap = function ({ mapElem, symptomsTable, geojson, reportData }) {
        var mapNode = mapElem.node();
        var svg = mapElem
            .append("svg")
            .attr("width", "100%")
            .attr("height", 500);
        var projection = d3.geoMercator()
            .center([61.9241104, 25.7481518])
            .fitSize([mapNode.clientWidth, mapNode.clientHeight], geojson);
        var path = d3.geoPath(projection);

        var updateStatistics = function(d) {
            if (symptomsTable) {
                symptomsTable.remove();
            }
            symptomsTable = tabulate({
                parent: div,
                translations: translationData,
                municipality: d.properties.name,
                data: reportData[parseInt(d.properties.code)] || { symptoms: { NONE: 0 }, reports: { count: 0 } }
            });
        };

        svg.selectAll("path")
            .data(geojson.features)
            .enter()
            .append("path")
            .attr("d", path)
            .style("fill", function (d) {
                var data = reportData[parseInt(d.properties.code)] || { symptoms: { NONE: 1 }, reports: { count: 1 } } // default to math: (1 - 1/1) * 255 = 0
                var healthy = data.symptoms.NONE || 0
                var total = data.reports.count
                return "rgb(" + Math.floor((1 - (healthy / total)) * 255) + ",0,0)";
            })
            .on("click", function (d) {
                updateStatistics(d);
            })
            .on("mouseover", function (d) {
                updateStatistics(d);
            });

        return svg;
    }
    var translationData = JSON.parse(document.getElementById("map").dataset.i18n);
    var reportData = JSON.parse(document.getElementById("map").dataset.report);
    var aggregateReportData = { reports: { count: 0 }, symptoms: {} }

    Object.keys(reportData).forEach(function (key) {
        var report = reportData[key]
        aggregateReportData.reports.count += report.reports.count

        Object.keys(report.symptoms).forEach(function (skey) {
            aggregateReportData.symptoms[skey] = aggregateReportData.symptoms[skey] || 0
            if (report.symptoms[skey]) {
                aggregateReportData.symptoms[skey] += report.symptoms[skey]
            }
        })
    })

    document.getElementById('reports-in-total-value').innerText = aggregateReportData.reports.count;
    document.getElementById('selected-area-total-reports').innerText = aggregateReportData.reports.count;

    var div = d3.select("#selection-statistics-table-container");
    var symptomsTable = tabulate({
        parent: div,
        translations: translationData,
        municipality: "{% trans 'uiReportCountry' %}",
        data: aggregateReportData,
    });

    d3.json("{%static 'finland-municipalities-topojson.json' %}", function (error, topology) {
        if (error) throw error;

        var geojson = topojson.feature(topology, topology.objects.kuntarajat);
        var mapElem = d3.select("#map");
        var render = function () { return renderMap({ mapElem, symptomsTable, geojson, reportData }) }

        var svg = render();
        window.addEventListener('resize', () => {
            svg.remove();
            svg = render()
        })
    });
</script>
