{% load i18n %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!-- # Cookie consent, can be customized here: https://www.osano.com/cookieconsent/download/ -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#1d8a8a"
    },
    "button": {
      "background": "#62ffaa"
    }
  }
});
</script>

<!-- from https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag -->
<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">

<style>
    body {
        background-color: rgb(202, 227, 194);
        font-family: Arial;
        margin: 30px;
    }

    .invalid-feedback {
        display: block;
        font-size: 100%;
        font-weight: bold;
    }

    div.required-field > label:after {
        color: red;
        content: " *";
    }

    .btn {
        width: 100%;
        height: 50px;
    }
</style>

<h1>{% trans "uiReportSyptomsFormHeader" %}</h1>

<form action="{% url 'SymptomsReports:reportsubmit' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% bootstrap_field field required_css_class='required-field' %}
    {% endfor %}

    {% buttons %}
    <button type="submit" class="btn btn-primary">{% trans "uiReportSymptomsFormCTA" %}</button>
    {% endbuttons %}
</form>
